html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}

  
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

.mainBody {
  width: 50%;
  margin: auto;
}

a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
.navbar {
    width: 100% !important;
}

.sectionTitle{
  font-weight: bold;
  font-size: 36px;
  font-style: italic;
  color: #c20430;
  margin: auto;
}

.sectionBody{
  font-size: 20px;
  margin: auto;
}

.goals{
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
  color: #ffc72a;
  margin: auto;
}

hr.colored{
  border: 0;   /* in order to override TWBS stylesheet */
  height: 5px;
  color:#FFFFFF;
  background: -moz-linear-gradient(left, rgba(0,0,0) 0%, rgba(0,0,0) 33.3%, rgba(194,4,48) 33.3%, rgba(194,4,48) 66.7%, rgba(255,199,42) 66.7%, rgba(255,199,42) 100%);  /* FF3.6+ */
  background: -webkit-linear-gradient(left, rgba(0,0,0) 0%, rgba(0,0,0) 33.3%, rgba(194,4,48) 33.3%, rgba(194,4,48) 66.7%, rgba(255,199,42) 66.7%, rgba(255,199,42) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0) 0%, rgba(0,0,0) 33.3%, rgba(194,4,48) 33.3%, rgba(194,4,48) 66.7%, rgba(255,199,42) 66.7%, rgba(255,199,42) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0) 0%, rgba(0,0,0) 33.3%, rgba(194,4,48) 33.3%, rgba(194,4,48) 66.7%, rgba(255,199,42) 66.7%, rgba(255,199,42) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(0,0,0) 0%, rgba(0,0,0) 33.3%, rgba(194,4,48) 33.3%, rgba(194,4,48) 66.7%, rgba(255,199,42) 66.7%, rgba(255,199,42) 100%); /* W3C */
}

.featureImage{
  margin-top: 120px;
}

input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
